@keyframes blink {
    0% { color: #18181b; } /* Starting color */
    50% { color: rgb(48, 48, 48); }
    100% { color: #18181b; } /* Ending color */
  }
  
  .blinking-text {
    animation: blink 5s infinite; /* 1 second duration, loops infinitely */
  }
  